<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="alert-outline"></ion-icon>
      <ion-label>OVERVIEW</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>CURRENT CASES</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>INVESTIGATION</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>

</ion-tabs>
