<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Current PH Casses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CURRENT PH CASES ALL NATIONALITY</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="datax" class="datax">
    <!-- start -->
   
    <!-- end -->
    <div *ngFor="let data of datax">

      <!-- start -->
      <ion-card>
        <ion-card-header>
          
          <ion-card-title>CASE NO. {{data.case_no}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-row>
            <ion-col size="6">
              <span class="title">DATE</span>
            </ion-col>
            <ion-col>
              <span class="value">{{data.date}}</span>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="title">AGE</span>
            </ion-col>
            <ion-col>
              <span class="value">{{data.age}}</span>
            </ion-col>
            
          </ion-row>


          <ion-row>
            <ion-col size="6">
              <span class="title">GENDER</span>
            </ion-col>
            <ion-col>
              <span class="value">{{data.gender}}</span>
            </ion-col>
            
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <span class="title">NATIONALITY</span>
            </ion-col>
            <ion-col>
              <span class="value">{{data.nationality}}</span>
            </ion-col>
            
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <span class="title">HOSPITAL ADMITTED TO</span>
            </ion-col>
            <ion-col>
              <span class="value">{{data.hospital_admitted_to}}</span>
            </ion-col>
            
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <span class="title">TRAVEL HISTORY ABROAD</span>
            </ion-col>
            <ion-col>
              <span class="value">{{data.had_recent_travel_history_abroad}}</span>
            </ion-col>
            
          </ion-row>

          <ion-row>
            <ion-col size="6">
              <span class="title">STATUS</span>
            </ion-col>
            <ion-col>
              <span class="value">{{data.status}}</span>
            </ion-col>
            
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <span class="title">NOTES</span><br>
              <span class="value">{{data.notes}}</span>
            </ion-col>
           
            
          </ion-row>

        </ion-card-content>
      </ion-card>
      <!-- end -->

    </div>

    
  </div>


</ion-content>
