<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Overview
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Overview</ion-title>
    </ion-toolbar>
  </ion-header>





  <div *ngIf="datax" class="datax">
    <!-- start -->
    <ion-card>
      <ion-card-header>
        
        <ion-card-title>Confirmed Cases</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <span class="number">{{datax.confirmed_cases}}</span>
      </ion-card-content>
    </ion-card>
    <!-- end -->
    <!-- start -->
    <ion-card>
      <ion-card-header>
        
        <ion-card-title>Cases Tested Negative</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <span class="number">{{datax.cases_tested_negative}}</span>
      </ion-card-content>
    </ion-card>
    <!-- end -->
    <!-- cases_pending_test_results -->
     <!-- start -->
     <ion-card>
      <ion-card-header>
        
        <ion-card-title>Cases Pending Test Results</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <span class="number">{{datax.cases_pending_test_results}}</span>
      </ion-card-content>
    </ion-card>
    <!-- end -->
  </div>
  


</ion-content>

