ion-content ion-toolbar {
  --background: translucent;
}
span.number {
  font-size: 75px;
  color: #f00;
}ion-card-header.ion-inherit-color.ios.hydrated {
  text-transform: uppercase;
}ion-title.ios.title-large.hydrated {
  text-transform: uppercase;
}
ion-header.ios.header-ios.header-translucent.header-collapse-none.header-translucent-ios.hydrated.header-collapse-main {
  visibility: hidden;
  display: none;
}
