<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PATIENTS UNDER INVESTIGATION
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PATIENTS UNDER INVESTIGATION</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="datax" class="datax">
    <!-- start -->
   
    <!-- end -->
    <div *ngFor="let data of datax">

      <ion-card>
        <ion-card-header>
         
          <ion-card-title>{{data.region}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          
          
          <ion-row>
            <ion-col size="12">
              <span class="title title2">Suspected Cases</span>
            </ion-col>      
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="title">Admitted</span>
            </ion-col>
            <ion-col>
              <span class="value">{{data.current_pui_status.suspected_cases.admitted}}</span>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="title">Deaths</span>
            </ion-col>
            <ion-col>
              <span class="value">{{data.current_pui_status.suspected_cases.deaths}}</span>
            </ion-col>
            
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <span class="title title2">Confirmed Cases</span>
            </ion-col>      
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="title">Admitted</span>
            </ion-col>
            <ion-col>
              <span class="value">{{data.current_pui_status.confirmed_cases.admitted}}</span>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="title">Deaths</span>
            </ion-col>
            <ion-col>
              <span class="value">{{data.current_pui_status.confirmed_cases.deaths}}</span>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="title">Recoveries</span>
            </ion-col>
            <ion-col>
              <span class="value">{{data.current_pui_status.confirmed_cases.recoveries}}</span>
            </ion-col>
            
          </ion-row>




        </ion-card-content>
      </ion-card>
      

    </div>

    </div>
</ion-content>
