ion-content ion-toolbar {
  --background: translucent;
}

ion-title.ios.title-large.hydrated {
  font-size: 20px;
}
ion-card-title.ion-inherit-color.ios.hydrated {
  color: #f00;
}
ion-header.ios.header-ios.header-translucent.header-collapse-none.header-translucent-ios.hydrated.header-collapse-main {
  visibility: hidden;
  display: none;
}
ion-title.ios.title-large.hydrated {
  padding-bottom: 15px;
}

span.title.title2 {
  color: #fff;
  font-size: 22px;
}